.header-container {
  height: 190px;
  @include for-wide-layout {
    height: 160px;
  }
  @include for-mobile-layout {
    height: 120px;
  }
  min-height: 17.5vh;
}

header {
  background-color: $clr2;
  position: fixed;
  width: 100%;
  z-index: 200;
  height: 190px;
  @include for-wide-layout {
    height: 160px;
  }
  @include for-mobile-layout {
    height: 120px;
  }
}

.active {
  color: $clr3 !important;
}

.main-nav {
  @include for-wide-layout {
    padding: 15px;
  }
  @include for-tablet-layout {
    padding: 15px 30px;
  }
  a {
    display: contents;
    color: inherit;
  }
  padding: 15px 0px;
  max-width: 1400px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 190px;
  background-color: $clr2;
  img {
    cursor: pointer;
    width: 18.9%;
    @include for-tablet-layout {
      width: 28.9%;
    }
    @include for-mobile-layout{
    width: 43%;
    }
  }
  .menu-bar {
    color: $clr1;
    font-size: rem(25px);
  }
}

nav {
  padding-right: 30px;
  @include for-wide-layout {
    padding-right: 0px;
  }
  @include for-tablet-layout {
    display: none;
  }
  background-color: $clr2;
  .nav-sections {
    justify-content: flex-end;
    display: flex;
    color: white;
    li {
      transition: all 0.3s;
      cursor: pointer;
      font-size: rem(14.5px);
      letter-spacing: 2px;
      font-weight: bold;
      padding: 10px 20px;
      font-family: 'Lato';
      &:hover {
        color: $clr3;
      }
    }
  }
  .nav-info {
    padding: 22px 6.5px;
    letter-spacing: 2px;
    justify-content: end;
    li {
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        color: $clr3;
      }
      align-items: baseline;
      font-size: rem(14px);
      margin-right: 12.5px;
      margin-left: calc(25px / 2);
      display: flex;
      i {
        padding-right: 11px;
        color: $clr3;
      }
    }

    font-family: 'Lato';
    color: white;
    display: flex;
  }
}
