.side-menu-modal {
  transition: all 0.5s;
  background-color: #121212;
  height: 0px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  width: 100%;
  text-align: center;
  ul {
    width: 100%;
    li {
      color: $clr1;
      padding: 10px;
      letter-spacing: 1.8px;
    }
  }
}

.menu-bar{
  display: none;
  @include for-mobile-layout{
    display: block;
  }
  @include for-tablet-layout{
    display: block;
  }
}

.height {
  height: 180px;
  opacity: 0.95;
}

.clicked {
  background-color: #b0976d;
}
