.our-mission-section {
  background-color: $clr2;
  .our-mission-container {
    max-width: 963px;
    margin: auto;
    margin-bottom: 150px;
    @include for-tablet-layout{
      padding: 50px 50px;
    }
    @include for-wide-layout{
     margin-bottom: 0px;
    }
    @include for-mobile-layout{
      p{
        margin-bottom: 0px;
      }
    }
    padding: 80px 0px;
    text-align: center;

    h1,
    p {
      color: $clr1;
    }
  }
}
