.our-story-section {
  position: relative;
  background-image: url(https://ik.imagekit.io/tfcgjzp4c/Yung_Dental_imgs/About/about4.webp?updatedAt=1684407571256);
  padding: 100px 0px;
  @include for-tablet-layout {
  padding: 40px 0px;
  }
  background-position: bottom right;
  background-size: cover;
  background-attachment: fixed;
  .our-story-container {
    position: relative;
    z-index: 6;
    max-width: 1300px;
    margin: auto;
    display: flex;
    .story-details {
      padding: 80px;
      width: 65%;
      background-color: $clr1;
      @include for-tablet-layout {
  width: 100%;
      }
    }
    .story-quotes {
      padding: 50px;
      h1 {
        color: $clr1;
        @include for-tablet-layout {
  text-align: center;
        }
      }
      width: 35%;
      @include for-tablet-layout {
  width: 100%;
      }
    }
    @include for-tablet-layout {
      flex-direction: column;
    }
  }

  .story-background-overlay {
    opacity: 0.36;
    background-color: black;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    position: absolute;
    inset: 0;
    z-index: 5;
  }
}
