.hero-wrapper {
  position: relative;
  background-image: url('https://ik.imagekit.io/tfcgjzp4c/Yung_Dental_imgs/Homepage/homepage1.webp?updatedAt=1684407570051');
  background-position: center center;
  background-size: cover;
  height: 770px;
  width: 100%;
  .background-wrapper {
    background-color: black;
    position: absolute;
    inset: 0;
    opacity: 0.7;
  }
}

.hero-contact-container {
  max-width: 900px;
  min-height: 80vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  z-index: 1;
  :not(h1) {
    font-family: 'Lato';
    letter-spacing: 1px;
  }
  h2{
    font-size: rem(18px);
    letter-spacing: 5px;
    font-family: 'Lato';
    margin-bottom: 20px;
   font-weight: 800;
  }
  h3{
    font-weight: 400;
    margin-bottom: 40px;
    font-size: rem(18px);
    line-height: 1.8em;
    letter-spacing: normal;
  }
  h1 {
    text-align: center;
    font-family: 'Prata', serif;
    font-size: 59px;
    font-weight: normal;
    line-height: 1.4em;
    margin-bottom: 20px;
  }
 
}
