.intro-container {
  display: flex;
  flex-direction: column;

  .intro,
  .products {
    height: 700px;
    width: 100%;
    display: flex;
    img {
      width: 50%;
      background-size: cover;
    }
  }

  .intro {
    img {
      object-fit: cover;
    }
    .intro-welcome {
      padding: 165px 100px;
      @include for-wide-layout {
        padding: 70px 50px;
      }
      width: 50%;
    }
  }
  .products {
    img {
      object-fit: contain;
    }
    .intro-products {
      padding: 165px 100px;
      @include for-wide-layout {
        padding: 120px 50px;
      }
    }
    background-color: $clr8;
  }
  h2 {
    color: $clr3;
    font-weight: 900;
    font-size: rem(18px);
    margin-bottom: 20px;
    font-style: normal;
    line-height: 1.7em;
    letter-spacing: 5px;
  }
  h1 {
    letter-spacing: 0.5px;
    font-family: 'Prata';
    font-size: rem(35px);
    font-weight: 200;
  }

  p {
    line-height: 1.8em;
    font-size: rem(17px);
    font-family: 'Lato';
    letter-spacing: 0.5px;
    margin-bottom: 40px;
    color: $clr4;
  }
}

.reuse-contact {
  padding: 80px 0px;
  background-color: $clr2;
  text-align: center;
  h1 {
    color: $clr1;
    margin-bottom: 40px;
    font-family: 'Prata', Sans-serif;
    font-size: 2.2em;
    font-weight: normal;
    line-height: 1.3em;
  }

  button {
    background-color: $clr3;
    &:hover {
      color: $clr3;
      background-color: $clr1;
    }
  }
}
