.on-time-section {
  margin-bottom: 150px;
  @include for-wide-layout {
    margin: 0;
  }
}

.on-time-container {
  max-width: 1200px;
  margin: auto;
  background-color: $clr8;
}

.second-on-time {
  @include for-tablet-layout {
    flex-direction: column-reverse !important;
  }
}

.on-time {
  display: flex;
  @include for-tablet-layout {
    flex-direction: column;
  }
  img {
    filter: grayscale(0.4);
    min-height: 700px;
    max-height: 700px;
    width: 50%;
    @include for-tablet-layout {
      width: auto;
      min-height: auto;
      height: 320px;
    }
    background-image: linear-gradient(180deg, #fff 0%, #000 100%);
    opacity: 0.9;
  }
  .on-time-info {
    text-align: center;
    display: flex;
    gap: 15px;
    text-align: center;
    width: 50%;

    flex-direction: column;
    justify-content: center;
    padding: 10%;
    @include for-wide-layout {
      padding: 6%;
    }
    @include for-tablet-layout {
      width: auto;
      padding: 8%;
    }
    @include for-mobile-layout{
    padding: 10%;
    }

    h2 {
      color: $clr3;
      font-weight: 800;
      font-size: rem(18px);
      margin-bottom: 20px;
      font-style: normal;
      line-height: 1.7em;
      letter-spacing: 5px;
    }

    h1 {
      margin-bottom: 20px;
      letter-spacing: 0.5px;
      font-family: 'Prata';
      font-size: rem(35px);
      font-weight: 200;
    }

    p {
      line-height: 1.8em;
      font-size: rem(17px);
      font-family: 'Lato';
      letter-spacing: 0.5px;
      margin-bottom: 40px;
      color: $clr4;
    }

    h2,
    h1,
    p {
      margin: 0;
    }
  }
}

.ontime-about {
  background-color: $clr2;
  h2,
  h1,
  p {
    color: white !important;
  }
}
