.our-gallery-section {
  position: relative;
  .gallery-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0;
    background-color: $clr1;
    background-image: linear-gradient(
      180deg,
      var(--e-global-color-312883b1) 0%,
      var(--e-global-color-63ec677b) 100%
    );
    opacity: 0.7;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  }
}

.our-gallery-container {
  padding: 150px 0px;
  @include for-tablet-layout {
    padding: 80px 0px;
  }
  @include for-mobile-layout{
    padding: 80px 35px;
  }
  background-image: url('https://ik.imagekit.io/tfcgjzp4c/Yung_Dental_imgs/Homepage/homepage8.webp?updatedAt=1684407573433');
  background-size: cover;
  text-align: center;
  .gallery-btns {
    justify-content: center;
    gap: 35px;
    @include for-mobile-layout {
      flex-direction: column;
      gap: 20px;
    }
  }
  h2 {
    margin: 10px 0px 50px 0px;
    color: $clr3;
    font-weight: 300;
    font-family: 'Prata';
    font-size: rem(30px);
    font-style: normal;
    line-height: 1.5em;
  }
  h1 {
    letter-spacing: 0.5px;
    font-family: 'Prata';
    font-size: rem(36px);
    font-weight: 200;
  }
  .gallery-btn {
    padding: 16px 60px;
    font-size: 12px;
    letter-spacing: 1.8px;
    font-weight: 600;
  }
  .z-index {
    position: relative;
  }
}
