.products-container {
  background-color: $clr8;
  margin-bottom: 150px;
  @include for-wide-layout {
    margin-bottom: 80px;
  }
  .nopadding {
    padding: 0;
    @include for-wide-layout{
      padding-bottom: 70px;
    }
    @include for-tablet-layout{
      flex-direction: column;
    }
  }
}

.whatwemake {
  display: flex;
  justify-content: space-between;
  padding: 150px 0px 0px 0px;
  @include for-tablet-layout{
    padding-top: 80px;
  }
  @include for-tablet-layout{
    flex-direction: column-reverse;
   }
  .products-container {
    .products {
      ul {
        margin-bottom: 40px;
      }
      min-width: 330px;
      li {
        margin-top: calc(30px / 2);
        span {
          color: $clr7;
          padding-left: 5px;
          font-size: rem(17px);
        }
        i {
          padding-right: 5px;
        }
        padding-bottom: calc(19px / 2);
      }
    }
    h2 {
      color: $clr3;
      font-weight: 800;
      font-size: rem(18px);
      margin-bottom: 20px;
      font-style: normal;
      line-height: 1.7em;
      letter-spacing: 5px;
    }
    h1 {
      margin-bottom: 20px;
      letter-spacing: 0.5px;
      font-family: 'Prata';
      font-size: rem(35px);
      font-weight: 200;
    }

    height: 615px;
    &.height {
      @include for-wide-layout{
        height: 600px;
      }
      height: 640px;
    }
    @include for-narrow-layout {
      padding: 5% 0% 0% 5%;
      height: 500px;
    }
    @include for-tablet-layout{
      padding: 8%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    
    padding: 8%;
    background-color: $clr1;
  }
}

.what-made-container {
  padding-right: rem(35px);
  width: 100%;
  text-align: center;
  img {
    margin-bottom: 40px;
    width: 600px;
  }
  .what-made {
    .num-wrapper {
      width: 33.3%;
      span {
        @include for-wide-layout {
          font-size: 2em;
        }
        @include for-tablet-layout{
          font-size: 40px;
        }
        font-size: rem(70px);
        color: $clr4;
        font-weight: 300;
      }
      h3 {
        font-weight: 400;
      }
    }
    display: flex;
    justify-content: center;
  }
  @include for-tablet-layout{
    margin-bottom: 35px;
  }
}

.intersect {
  background-color: pink;
}
