@font-face {
  font-family: Prata-Regular;
  src: url('/src/assets/fonts/Prata/Prata-Regular.ttf');
}

@font-face {
  font-family: Lato-Regular;
  src: url('/src/assets/fonts/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('../../fonts/Lato/Lato-Bold.ttf');
}


