// Colors
$clr1: #ffffff;
$clr2: #000000;
$clr3: #2b95b6;
$clr4: #3e3e3e;
$clr5: #7b7b7b;
$clr6: #10638f;
$clr7: #62646a;
$clr8: #f1f1f1;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 948px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 1024px;
$padding: 30px;
