.dental-tech-section {
  margin-bottom: 150px;
  @include for-wide-layout {
    margin-bottom: 0px;
  }
  .dental-tech-container {
    text-align: center;
    @include for-tablet-layout {
      flex-direction: column;
    }
    h1,
    p {
      color: $clr1;
    }
    display: flex;
    .dental {
      @include for-wide-layout {
        p {
          font-size: 0.99em;
        }
      }
      background-color: $clr2;
      width: 33.333%;

      padding: 6.5%;
      @include for-tablet-layout {
        width: 100%;
        padding: 0% 6.5% 6.5% 6.5%;
      }
    }

    .tech {
      @include for-wide-layout {
        p {
          font-size: 0.99em;
        }
      }
      padding: 6.5%;
      background-color: $clr2;
      width: 33.333%;
      @include for-tablet-layout {
        width: 100%;
      }
    }

    .dental-img {
      width: 33.333%;
      background-image: url('../../../img/OfficeETC/office2.webp');
      background-size: cover;
      background-position: center;
      @include for-tablet-layout {
        display: none;
      }
    }
  }
}
